<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap"
          rel="stylesheet}">
    <link rel="stylesheet" th:href="@{css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{vendors/bootstrap-icons/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{css/app.css}">
    <link rel="stylesheet" th:href="@{css/pages/auth.css}">
</head>

<body>
<div id="auth">

    <div class="row h-100">
        <div class="col-lg-5 col-12">
            <div id="auth-left">
                <div class="auth-logo">
                    <a href="index.html"><img alt="Logo" src="assets/images/logo/logo.png"></a>
                </div>
                <h1 class="auth-title">Sign Up</h1>
                <p class="auth-subtitle mb-2 text-capitalize">
                    register to start shopping.
                </p>

                <form th:action="@{/user}" method="POST" th:object="${User}">
                    <div class="form-group position-relative has-icon-left mb-4">
                        <input th:field="*{firstName}" class="form-control form-control-xl" placeholder="First Name" type="text" required>
                        <div class="form-control-icon">
                            <i class="bi bi-person"></i>
                        </div>
                    </div>
                    <div class="form-group position-relative has-icon-left mb-4">
                        <input th:field="*{lastName}" class="form-control form-control-xl" placeholder="Last Name" type="text" required>
                        <div class="form-control-icon">
                            <i class="bi bi-person"></i>
                        </div>
                    </div>
                    <div class="form-group position-relative has-icon-left mb-4">
                        <input th:field="*{email}" class="form-control form-control-xl" placeholder="Email" type="email">
                        <div class="form-control-icon">
                            <i class="bi bi-envelope"></i>
                        </div>
                    </div>
                    <div class="form-group position-relative has-icon-left mb-4">
                        <select name="gender" th:field="*{userType}" id="gender" class="form-select form-select-lg w-100"  required>
                            <option value="">--- Select Account Type --- </option>
                            <option value="customer">Customer</option>
                            <option value="merchant">Merchant</option>
                        </select>
                        <div class="form-control-icon">
                            <i class="bi bi-gender-ambiguous"></i>
                        </div>
                    </div>
                    <div class="form-group position-relative has-icon-left mb-4">
                        <input th:field="*{password}" class="form-control form-control-xl" placeholder="Password" type="password">
                        <div class="form-control-icon">
                            <i class="bi bi-shield-lock"></i>
                        </div>
                    </div>

                    <button class="btn btn-primary btn-block btn-lg shadow-lg mt-2">Sign Up</button>
                </form>
                <div class="text-center mt-2 text-lg fs-5">
                    <p class='text-gray-600'>
                        Already have an account?
                        <a class="font-bold" href="/">Log in</a>.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-7 d-none d-lg-block">
            <div id="auth-right">

            </div>
        </div>
    </div>

</div>
</body>

</html>